body{
	background-color:#D3D4CF;
	margin: 0px;
	font-family: "sans-serif";
}
/* ----------------------  INICIO HEADER -------------------  */
header {
	
	height: 50px;
	background-color:#D3D4CF;
	margin: 0 0 0 0;
	width: 100%;
}
#area-logo {
	margin-left: 60px;
	margin-top: 40px;
	margin-bottom: 25px;
	display: inline-block;
}
#sobre-a-empresa {
	float: right;
	display: flex;
	width: 40%;
	color: #2C436B;
	margin-top: 50px;
	margin-right: 80px;
	text-align: center;
	font-family: 'Dancing Script', cursive;	
	font-size: 1.5em;

}
#sobre-a-empresa span {
	
	
}
#menu {
	background-color: #2C436B;
	width: 100%;
	list-style-type: none;
	margin-bottom: 0;
	
	
}
#menu li {
	width: 100%;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
}
#menu li:hover {
	background-color: #3B7CBF;
	color: black ;
}
#menu li a {
	margin-left: ;
	width: 100%;
	text-decoration: none;
	font-family:'Bebas Neue', sans-serif;
	font-family: 'Poppins', sans-serif;;
	display: block;
}
#menu li a:hover {
	color:white ;
}
.list-item-menu {
	
	line-height: 50px;
	width: 100%;
	color: white;
	text-decoration: none;
}
/* -------------------------  FINAL HEADER -------------------------  */
/* -------------------------  INICIO SIDE BAR  -------------------------  */

#left-side-bar {
	
	float: left;
	height: 100%;
	width: 240px;
	background-color: #D23A66;
	margin: 0px;
	padding: 0px;
	margin: 0px;

}
#side-bar {
	list-style-type: none;
	clear: both;
	padding: 0px;
	margin-top: 0;
	margin-bottom: 0;

}
#side-bar li {
	font-size: 1.5em;
	line-height: 25px;
	width: 100%;
	margin: 0px;

}
#side-bar li a {
	font-family: 'Poppins', sans-serif;
	font-size: 0.8em;
	display: block;
	text-decoration: none;
	width: 100%;
	display: block;
	padding: 20px;
	text-align: center;
	color: white;
	width: 200px;

	
 
}
#side-bar li a:hover {
	background-color: #3B7CBF;
	margin-right: 0px;


}
/* -------------------------  FINAL SIDE BAR  -------------------------  */
/* -------------------------  INICIO AREA DE NAVEGAÇÃO PRINCIPAL  -------------------------  */
#main-area {
 	
 	display: flex;
  	float: right;	
 	background-color: white;
 	width: 100%;
 	max-width: 82%;
}

#footer {
	color: white;
	background-color:  #2C436B;
	clear: both;	
	width: 100%;
	text-align: center;
	padding: 15px;
	letter-spacing: 1px;
}

#menu {
	display: flex;
	float: right;
}

.list-item-menu {
	display: inline;
}


#container-pai {
		clear: both;
}
#nossa-historia {
	lett
	display: block;
	text-align: center;
	font-size: 1.3em;
	padding-left: 70px;
	padding-right: 70px;
	background-color:#D3D4CF ;
	color:#2C436B ;

}